<!-- first row start -->
<div class="container" style="font-family: cent-black; color: #5f6a6b">
    <div class="row container my-2" style="box-shadow: 1px 3px 2px 3px darkgrey;">
      <div class="col-lg-6">
        <img src="../../assets/top-img-left.png" width="50px;" style="border-radius:50px;"/>
      </div>
      <div class="col-lg-6">
      <div class="row float-right">
        <img src="../../assets/top-img-right.jpg" width="50px;" style="border-radius:50px;"/>
        <div class="dropdown">
    <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
      Cindy Applet
    </button>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="#">Link 1</a>
      <a class="dropdown-item" href="#">Link 2</a>
      <a class="dropdown-item" href="#">Link 3</a>
    </div>
  </div>
      </div>
    </div></div>
    <!-- first row end -->

    <!-- second row start -->
    <div class="row container my-3">
      <!-- first col start -->
      <div class="col-lg-3 col-md-offset-2" style="box-shadow: 1px 3px 2px 3px darkgrey;height: 250px;">
        <div class="row my-2 ml-0"><i class="fa fa-home" style="font-size:28px"></i> <h5>&nbsp;&nbsp;Home</h5></div>
        <div class="row my-2 ml-1"><i class="fa fa-lock" style="font-size:28px"></i> <h5>&nbsp;&nbsp;Locker</h5></div>
        <div class="row ml-0"><i class="fa fa-inbox" style="font-size:28px"></i> <h5>&nbsp;&nbsp;Message Center</h5></div>
        <div class="row ml-0"><i class="material-icons" style="font-size:36px">favorite</i> <h5>&nbsp;Favorite</h5></div>
        <div class="row ml-0"><i class="fa fa-list-alt" style="font-size:28px"></i> <h5>&nbsp;&nbsp;Wishlist</h5></div>
      </div>
      <!-- first col end -->

      <!-- second col start -->
      <div class="col-lg-5">
        <div class="row">
          <img src="../../assets/player.jpg" class="ml-4 my-3" width="30px;" height="30px" style="border-radius:50px;"/> <span class="ml-2 my-3">What's on your mind Today?</span>
        </div>
        <div class="row">
          <img src="../../assets/logo-1.jpg" class="ml-4" width="50px;" height="50px" style="border-radius:50px;"/> <h4 class="ml-2">Player Name</h4>
        </div>
        <div class="row my-3">
          <img src="../../assets/center-img.jpg" class="ml-4" width="90%"/> <br>
          <span class="ml-5 my-1"> This is how player will ... ... .. </span>
        </div>
        <div class="row">
          <h5 class="ml-5"> GEAR </h5>
        </div>
        <div class="row my-3 ml-2">
          <div class="col-lg-2">
            <img src="../../assets/center-img.jpg" width="40px;" height="40px" style="border-radius:50px;"/>
          </div>
          <div class="col-lg-2" style="margin-left: -22px;">
            <img src="../../assets/player.jpg" width="40px;" height="40px" style="border-radius:50px;"/>
          </div>
          <div class="col-lg-2" style="margin-left: -22px;">
            <img src="../../assets/top-img-left.png" width="40px;" height="40px" style="border-radius:50px;"/>
          </div>
          <div class="col-lg-2" style="margin-left: -22px;">
            <img src="../../assets/top-img-right.jpg" width="40px;" height="40px" style="border-radius:50px;"/>
          </div>
          <div class="col-lg-2" style="margin-left: -22px;">
            <img src="../../assets/center-img.jpg" width="40px;" height="40px" style="border-radius:50px;"/>
          </div>
        </div>
        <div class="row my-3 ml-2">
          <div class="col-lg-6">
            <div class="row ml-0">
              <i class="material-icons" style="font-size:26px">favorite_border</i> <h5>&nbsp;Favorite</h5></div>
          </div>
          <div class="col-lg-6">
            <div class="row ml-0 float-right"><span>Comments&nbsp;&nbsp;</span><i style="font-size:20px" class="fa">&#xf064;</i> </div>
          </div>
        </div>
      </div>
      <!-- second col end -->
      <div class="col-lg-4">
        <div class="row">
          <h5>EXPLORE</h5>
        </div>
        <div class="row my-2">
          <i class="fa fa-search" style="position: absolute;margin-left: 5px;margin-top: 7px;"></i>
          <input type="text" placeholder="Search.." name="search" style="padding-left: 25px;">
        </div>
        <div class="row my-3">
          <div class="col-lg-12 container">
            <ul class="nav nav-tabs" id="my-tabs">
              <li class="active"><a data-toggle="tab" href="#home">FOR YOU</a></li>
              <li><a data-toggle="tab" href="#menu1">EQUIPMENT</a></li>
              <li><a data-toggle="tab" href="#menu2">ATHELETES</a></li>
              <li><a data-toggle="tab" href="#menu3">TA</a></li>
            </ul>
          </div>
        </div>
      </div>
      <!-- second row end -->
    </div>
  </div>
